

@main("Welcome to Play") {
    @funk("index")
    @funk1("index")
    <div class="container">
    <div id="ig">
        <div class="row" id="st">
            <div class="row">
                <div class=" col-md-offset-4 col-md-6">
                    <h1 id="dd"><b>About Github <span class="fa fa-github"></span></b></h1>
                </div>
                <div class="container">
                    <div class="row">

                        <div class="col-md-8">
                            <h3 class="text-justify lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Alias, animi aspernatur dolores doloribus,
                                earum eos explicabo minus nihil possimus quam repellendus sit velit. Accusamus animi
                                aspernatur
                                assumenda at atque autem consectetur dolor earum eius expedita facilis ipsum minima
                                minus modi nam
                                nemo quaerat quod rem, sapiente sequi suscipit ut velit veritatis vero voluptatem! A
                                adipisci
                                aspernatur atque aut cum deleniti dicta esse excepturi facilis fugit id in ipsa labore
                                laudantium,
                                molestiae nam omnis pariatur perferendis perspiciatis possimus praesentium quas
                                quibusdam quidem
                                quis quisquam repellendus similique sit soluta sunt tempora ullam ut voluptatibus,
                                voluptatum.
                                Expedita illo, saepe. Aliquid consequatur modi voluptatem?
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere iste vel voluptatibus.
                                Aliquid, deleniti dolorem enim mollitia natus, necessitatibus neque, nihil quibusdam
                                reprehenderit repudiandae sapiente sed ut vero? Corporis cupiditate dolor eaque illum
                                perferendis possimus veniam voluptate. Ab at eos ipsa magnam modi nobis quisquam quod
                                suscipit tempore. Ab alias fugit id illo inventore iusto maiores maxime mollitia, non
                                obcaecati odio officia perspiciatis provident qui quia reiciendis rerum temporibus
                                tenetur voluptate voluptates? Dignissimos distinctio enim eum excepturi, hic id illum
                                necessitatibus nihil reiciendis repellat repudiandae ullam vitae voluptas! Aliquam
                                aperiam doloremque ducimus fugiat harum laboriosam natus nesciunt officia sint vero?
                            </h3>
                        </div>
                        <div class="col-md-4">
                            <img src="@routes.Assets.at("resurces/images/git.png")" class="img-thumbnail">
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

}
