@main("instal"){
  @funk("instal1")
    @funk1("instal1")
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-12">
            <img src="@routes.Assets.at("installGit/install1.png")" class="img-thumbnail">
          </div>
          <div class="col-md-offset-3 col-md-1">
            <span class="fa fa-arrow-circle-down glif"></span>
          </div>
          <div class="row">
            <div class="col-md-10">
              <img src="@routes.Assets.at("installGit/install4.png")" class="img-thumbnail imgstil">
            </div>
            <div class="col-md-2">
              <span class="fa fa-toggle-down glif"></span>
            </div>
            <div class="col-md-offset-4 col-md-2">
              <span class="fa fa-angle-down glif2"></span>
            </div>
            <div class="col-md-12">
              <img src="@routes.Assets.at("installGit/install6.png")" class="img-thumbnail">
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <img src="@routes.Assets.at("installGit/install9.png")" class="img-thumbnail imgstil">
            </div>
            <div class="col-md-offset- col-md-1">
              <span class="fa fa-chevron-circle-left glif"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <img src="@routes.Assets.at("installGit/install10.png")" class="img-thumbnail imgstil">
            </div>
            <div class="col-md-1">
              <span class="fa fa-arrow-down glif3"></span>
            </div>
            <div class="col-md-1">
              <span class="fa fa-angle-double-right glif4"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <span class="fa fa-arrow-circle-o-right glif"></span>
          </div>
          <div class="col-md-9">
            <img src="@routes.Assets.at("installGit/install2.png")" class="img-thumbnail imgstil">
          </div>
          <div class="col-md-1">
            <span class="fa fa-hand-o-down glif"></span>
          </div>
          <div class=" col-md-offset-2 col-md-10">
            <img src="@routes.Assets.at("installGit/install3.png")" class="img-thumbnail imgstil">
          </div>
          <div class="col-md-12">
            <img src="@routes.Assets.at("installGit/install5.png")" class="img-thumbnail imgstil2">
          </div>
          <div class="col-md-1">
            <span class="fa fa-chevron-right" id="chev"></span>
          </div>
          <div class="col-md-8">
            <img src="@routes.Assets.at("installGit/install7.png")" class="img-thumbnail imgstil">
          </div>
          <div class="col-md-1">
            <span class="fa fa-level-down glif">
            </span>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-offset-1 col-md-11">
            <img src="@routes.Assets.at("installGit/install8.png")"  class="img-thumbnail imgstil">
          </div>
        </div>
        <div class="row">
          <div class=" col-md-offset-1 col-md-10">
            <img src="@routes.Assets.at("installGit/install11.png")"  class="img-thumbnail imgstil3">
          </div>
          <div class="col-md-1">
            <span class="fa fa-level-down glif2"></span>
          </div>
        </div>

      </div>
    </div>
    <br>
    <div class="row">
      <div class=" col-md-offset-2 col-md-10">
        <img src="@routes.Assets.at("installGit/install12.png")" class="img-thumbnail" width="100%">
      </div>
    </div>
    <br>
    <div class="row">
      <div class=" col-md-5">
        <img src="@routes.Assets.at("installGit/install13.png")" class="img-thumbnail imgstil4">
      </div>
      <div class=" col-md-7">
        <img src="@routes.Assets.at("installGit/install14.png")" class="img-thumbnail">
      </div>
    </div>
    <br>
    <div class="row">
      <img src="@routes.Assets.at("installGit/install15.png")" width="2200px" height="200px" class="img-thumbnail">
    </div>
    <br>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-10">
            <img src="@routes.Assets.at("installGit/install16.png")" class="img-thumbnail" id="razmervindowsoyna">
          </div>
          <div class="col-md-2">
            <span class="fa fa-arrow-right glif"></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-11">
            <img src="@routes.Assets.at("installGit/install17.png")" class="img-thumbnail" id="razmeroyna1">
          </div>
          <div class="col-md-1">
            <span class="fa fa-angle-double-down glif"></span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <img src="@routes.Assets.at("installGit/install19.png")" class="img-thumbnail">
      </div>
      <div class=" col-md-1">
        <span class="fa fa-caret-left" id="glifi"></span>
      </div>
      <div class=" col-md-offset-1 col-md-4">
        <img src="@routes.Assets.at("installGit/install18.png")" class="img-thumbnail" id="razmeroyna2">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <img src="@routes.Assets.at("installGit/install20.png")" class="img-thumbnail" width="100%">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <img class="img-thumbnail imgstil" src="@routes.Assets.at("installGit/install21.png")">
      </div>
      <div class="col-md-7">
        <img src="@routes.Assets.at("installGit/install22.png")" class="img-thumbnail">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-offset-2 col-md-10">
        <img src="@routes.Assets.at("installGit/install23.png")" class="img-thumbnail">
      </div>
    </div>

  </div>

}