@main("sign"){
  @funk("sign1")
 @funk1("sign1")
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-10">
                    <img src="@routes.Assets.at("signUpPage/signUpGit/signUp1.png")" class="img-thumbnail imgstil3">
                </div>
                <div class="col-md-1">
                    <span class="fa fa-arrow-right glifon"></span>
                </div>
            </div>
            <div class="col-md-6">
                <img src="@routes.Assets.at("signUpPage/signUpGit/signUp2.png")" class="img-thumbnail" width="100%">
            </div>
            <div class="col-md-3">
                <div class="row">
                    <br>
                    <br>
                    <br>
                    <br>
                    <img src="@routes.Assets.at("signUpPage/signUpGit/signUp3.png")" class="img-thumbnail">
                    <br>
                    <br>
                    <img src="@routes.Assets.at("signUpPage/signUpGit/signUp4.png")" class="img-thumbnail">
                    <br>
                    <br>
                    <img src="@routes.Assets.at("signUpPage/signUpGit/signUp5.png")" class="img-thumbnail">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="@routes.Assets.at("signUpPage/signUpGit/signUp6.png")" class="img-thumbnail">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="@routes.Assets.at("signUpPage/signUpGit/signUp7.png")" class="img-thumbnail" width="60%">
                    </div>

                    <div class="col-md-12">
                        <br>
                        <br>
                        <img src="@routes.Assets.at("signUpPage/signUpGit/signUp8.png")" class="img-thumbnail" >
                    </div>

                    <div class="col-md-12">
                        <br>
                        <br>
                        <img src="@routes.Assets.at("signUpPage/signUpGit/signUp9.png")" class="img-thumbnail" width="100%">
                    </div>
                </div>

            </div>
        </div>

    </div>
}