@main("triger"){
  @funk("triger1")
  @funk1("triger1")
  <div class="container">
    <div class="row" id="fon">
      <div class="row" >
        <div class="col-md-offset-4 col-md-6 col-xs-offset-4 col-xs-6 col-lg-offset-4 col-lg-6">
          <h2><b class="text-primary text-center">Some help for you ;-)</b></h2>
        </div>
      </div>
      <div class="row"style="padding:0 0 20px 0;">
        <div class="col-md-10 col-md-offset-1">
          <ul class="nav nav-tabs nav-justified" id="fon">
            <li><a href="#1" data-toggle="tab">Top Bar</a></li>
            <li><a href="#2" data-toggle="tab">Tab pane</a></li>
            <li><a href="#3" data-toggle="tab">Others</a></li>
            <li><a href="#4" data-toggle="tab">Others</a></li>
          </ul>
          <br>
          <div class="col-md-offset-1 col-md-10">
            <div class="tab-content">
              <div class="tab-pane fade active in" id="1">
                <img src="@routes.Assets.at("resurces/images/top-bar.png")" width="100%"  class="img-thumbnail">
              </div>
              <div class="tab-pane fade" id="2">
                <img src="@routes.Assets.at("resurces/images/tab-pane.png")" width="100%"  class="img-thumbnail">
              </div>
              <div class="tab-pane fade" id="3">
                <img src="@routes.Assets.at("resurces/images/1.gif")" width="100%"  class="img-thumbnail">
              </div>
              <div class="tab-pane fade" id="4">
                <img src="@routes.Assets.at("resurces/images/2.jpg")" width="100%"  class="img-thumbnail">
              </div>
            </div>
          </div>

        </div>
        <div >

        </div>
      </div>
    </div>

  </div>

}